@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');body{

    background: rgba(212,228,239,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
.contenedor{
    width: 70%;
    height: 950px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;

}
img{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
}
.texto{
    position: relative;
    padding: 1em;
    width: 80%;
    height: 76%;
    margin: auto;
    word-wrap: break-word;
    text-align: center;
    overflow: visible;
}
h3,h2,span,b{
    margin: 10px;
    font-size:30px;
    display: block;
    font-family: 'Roboto', sans-serif;
}
h3{
    margin-top:2em;
}
hr{
    width: 30%;
}
.firma{
    margin-top: 7%;
    display: block;
}


@media screen and (max-width:600px)and(min-width:500px){
    .contenedor{
        width: 80%;
    }

    .texto{
        width: 80%;
        font-size: 20px;
    }
}

