@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap'); /* estilo bold o negrita*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap'); /* estilo Ligth o delgada*/
/* font-family: 'Roboto', sans-serif; */
body{

    background: rgba(212,228,239,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
.contenedor{
    width: 70%;
    max-width: 1000px;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;

}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.texto{
    position: relative;
    border: 1px solid red;
    width: 80%;
    height: 86%;
    word-wrap: break-word;
    text-align: center;
    vertical-align: text-bottom;

}
h3,h2,P,b{
    border: 1px solid red;
    top: 5px;
}
